<div class="container">
    <form action="">
        <h1 style="color: red; margin-left: 40%;">Our Projects</h1>
        <button type="submit" class="btn btn-success" (click)="GoToAddNewSiteInformationPage()"
            style="float: right;">Add New Project</button>
        <!-- <div style="margin-left: 100px;">
            <table class="table table-hover table-dark  table-striped image mytable"
                style="margin-top:10px;margin-left:100px;margin-bottom:600px">
                <tr>
                    <th>Sr.No</th>
                    <th>Tagline</th>
                    <th>Category</th>
                    <th>Project Name</th>
                    <th>Enquiry</th>
                    <th>Description 1</th>
                    <th>Description 2</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Test Tagline</td>
                    <td>Residentials</td>
                    <td>Project Name1</td>
                    <td>Yes</td>
                    <td>Test Description 1</td>
                    <td>Test Description 2</td>
                    <td>Edit</td>
                    <td>Delete</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Test Tagline</td>
                    <td>Residentials</td>
                    <td>Project Name1</td>
                    <td>Yes</td>
                    <td>Test Description 1</td>
                    <td>Test Description 2</td>
                    <td>Edit</td>
                    <td>Delete</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Test Tagline</td>
                    <td>Residentials</td>
                    <td>Project Name1</td>
                    <td>Yes</td>
                    <td>Test Description 1</td>
                    <td>Test Description 2</td>
                    <td>Edit</td>
                    <td>Delete</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Test Tagline</td>
                    <td>Residentials</td>
                    <td>Project Name1</td>
                    <td>Yes</td>
                    <td>Test Description 1</td>
                    <td>Test Description 2</td>
                    <td>Edit</td>
                    <td>Delete</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Test Tagline</td>
                    <td>Residentials</td>
                    <td>Project Name1</td>
                    <td>Yes</td>
                    <td>Test Description 1</td>
                    <td>Test Description 2</td>
                    <td>Edit</td>
                    <td>Delete</td>
                </tr>
            </table>
        </div> -->
    </form>

</div>
<router-outlet></router-outlet>