<form action="">

    <div class="container" style="background-color: lavenderblush;">
        <div class="row">
            <h3>Site Gallery</h3>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label for="" class="form-group">Picture 1</label>
                <input type="file" name="" id="" class="form-group">
            </div>
            <div class="col-sm-3">
                <label for="" class="form-group">Picture 2</label>
                <input type="file" name="" id="">
            </div>
            <div class="col-sm-3">
                <label for="" class="form-group">Picture 3</label>
                <input type="file" name="" id="">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <label for="" class="form-group">Picture 4</label>
                <input type="file" name="" id="">
            </div>
            <div class="col-sm-3">
                <label for="" class="form-group">Picture 5</label>
                <input type="file" name="" id="">
            </div>
            <div class="col-sm-3">
                <label for="" class="form-group">Picture 6</label>
                <input type="file" name="" id="">
            </div>
        </div><br>
        <div class="">
            <button type="submit" class="btn btn-warning" style="margin-left: 2%;">
                <PREVIOUS</button>


                    <button type="submit" class="btn btn-success" style="margin-left: 45%;">SAVE & NEXT></button>
        </div><br>

    </div>
</form>