<div class="container"style="background-color:lavenderblush;">
    <form action="">
        <div class="row">
            <h3>Site Overview Details</h3>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <label for="" class="form-group">Header Line 1</label>
                <input type="text" name="" id="" placeholder="Enter Header Line 1" class="form-control form-group">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <label for="" class="form-group">Header Line 2</label>
                <input type="text" name="" id="" placeholder="Enter Header Line 2" class="form-control form-group">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <label for="" class="form-group">Description</label>
            </div>
            <div class="col-sm-8">
                <textarea class="form-group" name="" id="" cols="112" rows="4"></textarea>
            </div>
        </div>
        
    </form>
    <div class="">
        <button type="submit" class="btn btn-warning" style="margin-left: 10%;">
            <PREVIOUS</button>
    
                <button type="submit" class="btn btn-success" style="margin-left: 42%;">SAVE & NEXT></button>
    </div>
    <br>
</div>
