<div class="container">
    <form action="">

        <div class="row">
            <h3>Site Loaction & Conatct Details</h3>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label for="" class="form-group">Address Line</label>
                <input type="text" name="" id="" placeholder="Enter Site Address, Location Details,City,State,Pin Code"
                    class="form-control form-group">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label for="" class="form-group">Airport</label>
                <input type="text" name="" id="" placeholder="Enter Airport Name & Distance in KM"
                    class="form-control form-group">
            </div>
            <div class="col-sm-4">
                <label for="" class="form-group">Hospitals</label>
                <input type="text" name="" id="" placeholder="Enter Hospital Name & Distance in KM "
                    class="form-control form-group">
            </div>
            <div class="col-sm-4">
                <label for="" class="form-group">Movie Theater</label>
                <input type="text" name="" id="" placeholder="Enter Movie Theater Name & Distance in KM"
                    class="form-control form-group">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label for="" class="form-group">Bus Stop</label>
                <input type="text" name="" id="" placeholder="Enter Bus Stop Name & Distance in KM"
                    class="form-control form-group">
            </div>
            <div class="col-sm-4">
                <label for="" class="form-group">Petrol Pumps</label>
                <input type="text" name="" id="" placeholder="Enter Petrol Pump Name & Distance in KM "
                    class="form-control form-group">
            </div>
            <div class="col-sm-4">
                <label for="" class="form-group">Shopping Mall</label>
                <input type="text" name="" id="" placeholder="Enter Shopping Mall Name & Distance in KM "
                    class="form-control form-group">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label for="" class="form-group">Railway Station</label>
                <input type="text" name="" id="" placeholder="Enter Railway Station Name & Distance in KM"
                    class="form-control form-group">
            </div>
            <div class="col-sm-4">
                <label for="" class="form-group">Bank's & ATM's</label>
                <input type="text" name="" id="" placeholder="Enter Bank's & ATM's Name & Distance in KM"
                    class="form-control form-group">
            </div>
            <div class="col-sm-4">
                <label for="" class="form-group">Groceries</label>
                <input type="text" name="" id="" placeholder="Enter Groceries Shops Name & Distance in KM"
                    class="form-control form-group">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <label for="" class="form-group">School & Collages</label>
                <input type="text" name="" id="" placeholder="Enter School Name & Distance in KM "
                    class="form-control form-group">
            </div>
            <div class="col-sm-4"></div>
        </div>
    </form>
</div>
<div class="">
    <button type="submit" class="btn btn-warning" style="margin-left: 5%;">
        <PREVIOUS</button>

            <button type="submit" class="btn btn-success" style="margin-left: 88%;">SAVE & NEXT></button>
</div>