<!-- 
    <div class="row">
      <div class="col-sm-4 col-md-4 col-xs-4"></div>
      <div class="col-sm-4 col-md-4 col-xs-4">
        <form [formGroup]="RegistrationForm">
  
          <div class="card image1">
            <div class="card-body">
              <h1 style="color: white">Main Slider</h1>
  
              <div class="form-group input-group-lg">
                <label for="tagline"></label>
                <input type="text" id="tagline" class="form-control" placeholder="tagline" formControlName="tagline">
              </div>
              <div class="form-group input-group-lg" style="margin-top: 40px;">
                <div class="col-sm-5"></div>
                <select id="category" class=" alert form-rounded form-control myinputcss col-sm-12 form-control-lg"
                  placeholder="select category" formControlName="category">
                  <option value="">Select Service Type</option>
                  <option value="washing">wash</option>
                  <option value="maintenance">Maintenance</option>
                  <option value="wash">Wash/Maintenance</option>
                  <option value="others">Other</option>
                  <option value="cancel">Cancel</option>
                </select>
  
  
              </div>
  
  
  
              <div class="form-group input-group-lg" style="margin-top: 40px;">
                <div class="col-sm-5"></div>
                <select id="inputState" class=" alert form-rounded form-control myinputcss col-sm-12 form-control-lg"
                  placeholder="project name" formControlName="projectname">
                  <option value="">Select Service Type</option>
                  <option value="washing">wash</option>
  
                  <option value="maintenance">Maintenance</option>
                  <option value="wash">Wash/Maintenance</option>
                  <option value="others">Other</option>
                  <option value="cancel">Cancel</option>
                </select>
              </div>
              <div class="form-group input-group-lg" style="margin-top: 40px;">
                <div class="col-sm-5"></div>
                <textarea class=" alert form-rounded form-control col-sm-12" rows="2" id="comment"
                  placeholder="description1" formControlName="description1"></textarea>
  
              </div>
              <div class="form-group input-group-lg" style="margin-top: 40px;">
                <div class="col-sm-5"></div>
                <textarea class=" alert form-rounded form-control col-sm-12" rows="2" id="comment"
                  placeholder="description2" formControlName="description2"></textarea>
  
              </div>
  
              <div class="">
                <label><input type="checkbox" formControlName="enquiry"> Enquery</label>
  
              </div>
  
              <div class="row">
                <div class="col-md-4"></div>
                <div class="button_group">
                  <button type="submit" class="btn  btn-sm btn-success" style="margin-right: 25px"
                    (click)="saveAction(RegistrationForm.value)">submit</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-sm-4 col-md-4 col-xs-4"></div>
    </div>
  

 -->


<div class="container" id="what-we-do">
  <form action="" [formGroup]="RegistrationForm">
    <h1 style="color: white;">Main Slider Projects</h1>
    <button type="submit" class="btn btn-success" style="margin-left: 70%;" data-toggle="modal" data-target="#myModal">Add
      Slider Project</button>
    <div class="modal fade" id="myModal" role="dialog" style="margin-top: 90px;">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-md-10">
              <div class="row" style="margin-top: 80px;">
                <div id="what-we-do">
                  <form id="what-we-do" action="" method="post">
                    <div class="col-md-6">
                      <fieldset>
                        <input name="tagline" type="text" class="form-control" id="tagline" placeholder=" Enter Tagline..."
                          required formControlName="tagline">
                          <div class="validation" *ngIf="RegistrationForm.controls['tagline'].hasError('required')
                          && (RegistrationForm.controls['tagline'].touched||RegistrationForm.controls['tagline'].dirty)">
                          <b>This Field is requried</b>
                      </div>
                      <div class="validation" *ngIf="RegistrationForm.controls['tagline'].hasError('pattern')">
                          <b>Invalid contact number</b>
                      </div> 
                      </fieldset><br>
                     
                    </div>
                    <div class="col-md-6">
                      <fieldset>
                        <input name="name" type="text" class="form-control" id="name" placeholder="Last Number..."
                          required>
                      </fieldset><br>
                    </div>
                    <div class="col-sm-6">
                      <select id="category" class="form-rounded form-control myinputcss col-sm-12 "
                        placeholder="select project" formControlName="category">
                        <option value="">Select Category</option>
                        <option value="washing">wash</option>
                        <option value="maintenance">Maintenance</option>
                        <option value="wash">Wash/Maintenance</option>
                        <option value="others">Other</option>
                        <option value="cancel">Cancel</option>
                      </select>
                      <div class="validation" *ngIf="RegistrationForm.controls['category'].hasError('required')
                      && (RegistrationForm.controls['category'].touched||RegistrationForm.controls['category'].dirty)">
                      <b>This Field is requried</b>
                  </div>
                  <div class="validation" *ngIf="RegistrationForm.controls['category'].hasError('pattern')">
                      <b>Invalid contact number</b>
                  </div> 
                    </div>
                    <div class="col-sm-6">
                      <select id="projectname" class="form-rounded form-control myinputcss col-sm-12 "
                        placeholder="select project" formControlName="projectname">
                        <option value="">Select Project</option>
                        <option value="washing">wash</option>
                        <option value="maintenance">Maintenance</option>
                        <option value="wash">Wash/Maintenance</option>
                        <option value="others">Other</option>
                        <option value="cancel">Cancel</option>
                      </select>
                      <div class="validation" *ngIf="RegistrationForm.controls['projectname'].hasError('required')
                      && (RegistrationForm.controls['projectname'].touched||RegistrationForm.controls['projectname'].dirty)">
                      <b>This Field is requried</b>
                  </div>
                  <div class="validation" *ngIf="RegistrationForm.controls['projectname'].hasError('pattern')">
                      <b>Invalid contact number</b>
                  </div> 
                    </div>
                    <div class="col-md-12" style="margin-top: 20px;">
                      <fieldset>
                        <textarea name="message" rows="1" class="form-control" id="message"
                          placeholder="Enter Description 1..." required formCotrolName="description1"></textarea>
                      </fieldset><br>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <textarea name="message" rows="1" class="form-control" id="message"
                          placeholder="Enter Description 2..." required formCotrolName="description2"></textarea>
                      </fieldset><br>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                        <label class="custom-control-label" for="customCheck">Enquery</label>
                      </div>
                    </div>
                    <div class="col-md-12" style="margin-bottom: 10px;">
                      <fieldset>
                        <div style="text-align:center;" class="primary-button ">
                          <a href="#">Submit</a>
                        </div>
                      </fieldset>
                    </div>
                  </form>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- <div style="margin-left: 100px;">
      <table class="table table-hover table-dark  table-striped image mytable"
        style="margin-top:10px;margin-left:100px;margin-bottom:600px">
        <tr>
          <th>Sr.No</th>
          <th>Tagline</th>
          <th>Category</th>
          <th>Project Name</th>
          <th>Enquiry</th>
          <th>Description 1</th>
          <th>Description 2</th>
          <th>Action</th>
        </tr>
        <tr>
          <td>1</td>
          <td>Test Tagline</td>
          <td>Residentials</td>
          <td>Project Name1</td>
          <td>Yes</td>
          <td>Test Description 1</td>
          <td>Test Description 2</td>
          <td>Edit</td>
          <td>Delete</td>
        </tr>
        <tr>
          <td>1</td>
          <td>Test Tagline</td>
          <td>Residentials</td>
          <td>Project Name1</td>
          <td>Yes</td>
          <td>Test Description 1</td>
          <td>Test Description 2</td>
          <td>Edit</td>
          <td>Delete</td>
        </tr>
        <tr>
          <td>1</td>
          <td>Test Tagline</td>
          <td>Residentials</td>
          <td>Project Name1</td>
          <td>Yes</td>
          <td>Test Description 1</td>
          <td>Test Description 2</td>
          <td>Edit</td>
          <td>Delete</td>
        </tr>
        <tr>
          <td>1</td>
          <td>Test Tagline</td>
          <td>Residentials</td>
          <td>Project Name1</td>
          <td>Yes</td>
          <td>Test Description 1</td>
          <td>Test Description 2</td>
          <td>Edit</td>
          <td>Delete</td>
        </tr>
        <tr>
          <td>1</td>
          <td>Test Tagline</td>
          <td>Residentials</td>
          <td>Project Name1</td>
          <td>Yes</td>
          <td>Test Description 1</td>
          <td>Test Description 2</td>
          <td>Edit</td>
          <td>Delete</td>
        </tr>
      </table>
    </div> -->
  </form>

</div>