<form action="">

    <div class="container">
        <div class="row">
            <h3>Site Broucher & Desclaimer</h3>
        </div>
        <div class="row">

            <div class="col-sm-3">
                <label for="" class="form-group">Uploade Broucher</label>
                <input type="file" name="" id="">
            </div>
            <div class="checkbox">
                <input type="checkbox" name="" id="">
                <label for="">Unable Desclaimer</label>
            </div>
        </div>

        <br>
        <div class="">
            <button type="submit" class="btn btn-warning" style="margin-left: 2%;">
                <PREVIOUS</button>


                    <button type="submit" class="btn btn-success" style="margin-left: 45%;">SAVE & NEXT></button>
        </div>

    </div>
</form>