<div id="what-we-do">
<div class="container">
    <div class="card">
    <form action="">

        <div class="row">
            <h3>Site Master Plan Details</h3>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label for="" class="form-group">Specification 1</label>
                <input type="text" name="" id="" placeholder="Enter Specification 1" class="form-control form-group">
            </div>

            <div class="col-sm-4">
                <label for="" class="form-group">Specification 2</label>
                <input type="text" name="" id="" placeholder="Enter Specification 2" class="form-control form-group">
            </div>


            <div class="col-sm-4">
                <label for="" class="form-group">Specification 3</label>
                <input type="text" name="" id="" placeholder="Enter Specification 3" class="form-control form-group">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label for="" class="form-group">Specification 4</label>
                <input type="text" name="" id="" placeholder="Enter SPecification 4" class="form-control form-group">
            </div>
            <div class="col-sm-4">
                <label for="" class="form-group">Specification 5</label>
                <input type="text" name="" id="" placeholder="Enter Specification 5" class="form-control form-group">
            </div>


            <div class="col-sm-4">
                <label for="" class="form-group">Specification 6</label>
                <input type="text" name="" id="" placeholder="Enter Specification 6" class="form-control form-group">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label for="" class="form-group">Specification 7</label>
                <input type="text" name="" id="" placeholder="Enter Specification 7" class="form-control form-group">
            </div>
            <div class="col-sm-4">
                <label for="" class="form-group">Specification 8</label>
                <input type="text" name="" id="" placeholder="Enter Specification 8" class="form-control form-group">
            </div>
            <div class="col-sm-4">
                <label for="" class="form-group">Specification 9</label>
                <input type="text" name="" id="" placeholder="Enter Specification 9" class="form-control form-group">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label for="" class="form-group">Specification 10</label>
                <input type="text" name="" id="" placeholder="Enter Specification 10" class="form-control form-group">
            </div>
            <div class="col-sm-4">
                <label for="" class="form-group">Specification 11</label>
                <input type="text" name="" id="" placeholder="Enter Specification 11" class="form-control form-group">
            </div>
            <div class="col-sm-4">
                <label for="" class="form-group">Specification 12</label>
                <input type="text" name="" id="" placeholder="Enter Specification 12" class="form-control form-group">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-6">
                <label for="" class="form-group"> Master Plan Picture</label>
                <input type="file" name="" id="">
            </div>
        </div>
        <div class="">
            <button type="submit" class="btn btn-warning" style="margin-left: 1%;"(click)="GoBackToGalleryPage()">
                <PREVIOUS</button>
        
                    <button type="submit" class="btn btn-success" style="margin-left: 88%;"(click)="GoToFloorPlanPage()">SAVE & NEXT></button>
        </div>
    </form>
    </div>
   </div>
</div>
