    <div id="what-we-do">
    <div class="container"  >
        <div class="card" style="width:1200px;">
            <div class="card-body" >
                <div class="row">
                   <h3>Site Title Details</h3>
                    <div class="col-sm-3 form-group">
                        <label for="">Site Name</label>
                        <input type="text" name="siteName" placeholder="Enter Site Name" class="form-control">
                    </div>
                    <div class="form-group col-sm-3">
                        <label for="">Project Type</label>
                        <select class=" form-control" placeholder="Enter Project Type" formControlName="projectType">
                            <option value="">Project 1</option>
                            <option value="2-wheeler">Project 2 </option>
                            <option value="3-wheeler">Project 3 </option>
                            <option value="4-wheeler">Project 4 </option>
                            <option value="6-wheeler">Project 6 </option>
                        </select>
                    </div>
                    <div class="col-sm-3 form-group">
                        <label for="">Site Location</label>
                        <input type="text" name="siteLocation" placeholder="Enter Site Location" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label for="">Site Apartment Types</label>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-8 form-group">
                        <input type="checkbox" name="" id="">&nbsp;Single Room &nbsp;
                        <input type="checkbox" name="" id="">&nbsp;1 RK &nbsp;
                        <input type="checkbox" name="" id="">&nbsp;1 BHK &nbsp;
                        <input type="checkbox" name="" id="">&nbsp;1.5 BHK &nbsp;
                        <input type="checkbox" name="" id="">&nbsp;2 BHK &nbsp;
                        <input type="checkbox" name="" id="">&nbsp;2.5 BHK &nbsp;
                        <input type="checkbox" name="" id="">&nbsp;3 BHK &nbsp;
                        <input type="checkbox" name="" id="">&nbsp;3.5 BHK &nbsp;
                        <input type="checkbox" name="" id="">&nbsp;4 BHK &nbsp;
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-8 form-group">

                        <input type="checkbox" name="" id="">&nbsp;4.5 BHK &nbsp;
                        <input type="checkbox" name="" id="">&nbsp;Row House &nbsp;
                        <input type="checkbox" name="" id="">&nbsp;Bunglow&nbsp;
                        <input type="checkbox" name="" id="">&nbsp;Bunglow House &nbsp;
                        <input type="checkbox" name="" id="">&nbsp;School &nbsp;
                        <input type="checkbox" name="" id="">&nbsp;Collage &nbsp;
                        <input type="checkbox" name="" id="">&nbsp;Hotel &nbsp;
                        <input type="checkbox" name="" id="">&nbsp;Restaurant &nbsp;
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 form-group">
                        <input type="checkbox" name="" id="">&nbsp;Commercial Building &nbsp;

                        <input type="checkbox" name="" id="">&nbsp;Industrial Project &nbsp;
                        <input type="checkbox" name="" id="">&nbsp;Company &nbsp;


                    </div>
                </div>



                <div class="col-sm-3 form-group">
                    <label for="">MAHA RERA Reg. No.</label>
                    <input type="text" name="siteName" placeholder="Enter MAHA RERA Reg. No." class="form-control">
                </div>
                <div class="col-sm-3 form-group"></div>
                <div class="col-sm-3 form-group">
                    <label for="">CREDAI MEMBER Reg. No.</label>
                    <input type="text" name="siteName" placeholder="Enter CREDAI MEMBER Reg. No." class="form-control">
                </div>
            </div>
        </div>
        <div class="">
            <button type="submit" class="btn btn-success" style="margin-left: 40%;">SAVE & NEXT></button>
        </div>
        <br>
    </div>
   
</div>